/* Configuração para todos os elementos */
* {
 font-display:Arial, Helvetica, sans-serif;
}
/* Coloca margem zero e padding zero em todo o corpo da página */
body {
 margin:0;
 padding:0;
}
#geral{
 background-color: #DDDDDD;
}
/* Titulo da página com imagem */
.titulo {
 display:flex;
 flex-direction: column;
 align-items: center;
 margin:5px;
 padding: 10px;
 font-size: 20px;
}
h3 {
 margin-left: 50px;
}
/* As invenções e os trabalhos */
.invencoes {
 display:flex;
}
.div1 { 
 flex:1;
 margin-right:10px;
 margin-left: 10px;
 padding: 10px;
 font-size: 20px;
}
.div2 { 
 flex:3;
 margin-right:10px;
 margin-left: 10px;
 padding: 10px;
 font-size: 20px;
}
.div3 { 
 flex:1;
 margin-right:10px;
 margin-left: 10px;
 padding: 10px;
 font-size: 20px;
}
/* A vida */
.vida {
 display: flex;
 justify-content: center;
 padding: 10px;
 font-size: 20px;
}
.div4 { 
 flex:1;
 margin-right:10px;
 margin-left: 10px;
 padding: 10px;
 font-size: 20px;
}
.div5 { 
 flex:3;
 margin-right:10px;
 margin-left: 10px;
 padding: 10px;
 font-size: 20px;
}
.div6 { 
 flex:1;
 margin-right:10px;
 margin-left: 10px;
 padding: 10px;
 font-size: 20px;
}
.vida2 {
 display: flex;
 justify-content: space-around;
 margin:10px;
 padding: 10px;
 font-size: 20px;
}
